<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bases/base_header.html' %} {% block title %}
    <title>服务器偷懒啦</title>{% endblock %}
</head>
<body data-type="404">
    <div class="am-g tpl-g">
        <div class="row-content am-cf">
            <div class="widget am-cf">
                <div class="widget-body">
                    <div class="tpl-page-state">
                        <div class="tpl-page-state-title am-text-center tpl-error-title">500</div>
                        <div class="tpl-error-title-info">Server error</div>
                        <div class="tpl-page-state-content tpl-error-content">
                            <p>对不起,服务器发生错误啦。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>